<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.musicbase">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 点播播放器悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--<permission-->
    <!--android:name="com.music.base.permission.JPUSH_MESSAGE"-->
    <!--android:protectionLevel="signature" /> &lt;!&ndash; Required  一些系统要求的权限，如访问网络等 &ndash;&gt;-->
    <!--<uses-permission android:name="com.music.base.permission.JPUSH_MESSAGE" /> &lt;!&ndash; Optional for location &ndash;&gt;-->
    <!--&lt;!&ndash; Required &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />-->

    <!--&lt;!&ndash; Optional. Required for location feature &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 修改成 true 覆盖 jcenter 上的组件。 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="true"
            android:theme="@style/MyDialogStyle"
            tools:node="replace">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="cn.jpush.android.ui.PopWinActivity" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 修改成 true 覆盖 jcenter 上的组件。 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.Cardsuccess" />
        <activity
            android:name=".ui.activity.CardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.activity.FirstActivity" />
        <activity android:name=".ui.activity.BuyRecordActivity" />
        <activity android:name=".ui.activity.AddNewAddress" />
        <activity android:name=".ui.activity.AddressList" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity android:name=".ui.activity.FolderActivity" />
        <activity android:name=".ui.activity.AccountActivity" />
        <activity android:name=".ui.activity.VideoActivity" />
        <activity
            android:name=".ui.activity.SongScored"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ui.activity.SongScore" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".SplashADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.activity.DataActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="yinyuesuyang"
                    android:path="/home"
                    android:port="8888"
                    android:scheme="pndoo" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c5269e4b465f56085000132" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="index" />

        <activity
            android:name=".ui.activity.UpdateActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.RegistActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ContentListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BrowerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.WorkWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.superplayer.SuperPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="cn.kuwo.player.action.SHORTCUT" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MusicActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:launchMode="singleInstance"
            android:theme="@style/AnimTheme2"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.PayChooseActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" /> <!-- 微信分享回调 -->
        <activity
            android:name="com.music.base.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/Translucent" />
        <activity
            android:name="com.music.base.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" /> <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <service
            android:name=".download2.TestService"
            android:enabled="true"
            android:exported="false"
            android:label="VersionUpdateService">
            <intent-filter>
                <action android:name="com.shopin.android.services.TestService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.CacheActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106701619" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".broadcast.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.music.base" />
            </intent-filter>
        </receiver>
        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--&lt;!&ndash; 可配置 android:process 参数将 PushService 放在其他进程中 &ndash;&gt;-->
        <!--<service-->
        <!--android:name="cn.jpush.android.service.PushService"-->
        <!--android:enabled="true"-->
        <!--android:exported="false" >-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.jpush.android.intent.REGISTER" />-->
        <!--<action android:name="cn.jpush.android.intent.REPORT" />-->
        <!--<action android:name="cn.jpush.android.intent.PushService" />-->
        <!--<action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
        <!--</intent-filter>-->
        <!--</service>-->
        <!--&lt;!&ndash; since 3.0.9 Required SDK 核心功能&ndash;&gt;-->
        <!--<provider-->
        <!--android:authorities="com.music.base.DataProvider"-->
        <!--android:name="cn.jpush.android.service.DataProvider"-->
        <!--android:exported="true"-->
        <!--/>-->

        <!--&lt;!&ndash; since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 &ndash;&gt;-->
        <!--&lt;!&ndash; 若不启用该功能可删除该组件，或把 enabled 设置成 false ；App 不会被其他 App 拉起，但会拉起其他的 App。 &ndash;&gt;-->
        <!--<service-->
        <!--android:name="cn.jpush.android.service.DaemonService"-->
        <!--android:enabled="true"-->
        <!--android:exported="true">-->
        <!--<intent-filter >-->
        <!--<action android:name="cn.jpush.android.intent.DaemonService" />-->
        <!--<category android:name="com.music.base"/>-->
        <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; since 3.1.0 Required SDK 核心功能&ndash;&gt;-->
        <!--<provider-->
        <!--android:authorities="com.music.base.DownloadProvider"-->
        <!--android:name="cn.jpush.android.service.DownloadProvider"-->
        <!--android:exported="true"-->
        <!--/>-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--<receiver-->
        <!--android:name="cn.jpush.android.service.PushReceiver"-->
        <!--android:enabled="true" >-->
        <!--<intent-filter android:priority="1000">-->
        <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />-->
        <!--<category android:name="com.music.base"/>-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.USER_PRESENT" />-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--</intent-filter>-->
        <!--&lt;!&ndash; Optional &ndash;&gt;-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
        <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
        <!--<data android:scheme="package" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--&lt;!&ndash; 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 设置成 true。 &ndash;&gt;-->
        <!--<activity-->
        <!--android:name="cn.jpush.android.ui.PushActivity"-->
        <!--android:configChanges="orientation|keyboardHidden"-->
        <!--android:theme="@android:style/Theme.NoTitleBar"-->
        <!--android:exported="true"-->
        <!--tools:ignore="DuplicateActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.jpush.android.ui.PushActivity" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="com.music.base" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--&lt;!&ndash; SDK 核心功能&ndash;&gt;-->
        <!--&lt;!&ndash; 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 设置成 true。 &ndash;&gt;-->
        <!--<activity-->
        <!--android:name="cn.jpush.android.ui.PopWinActivity"-->
        <!--android:configChanges="orientation|keyboardHidden"-->
        <!--android:exported="true"-->
        <!--android:theme="@style/MyDialogStyle"-->
        <!--tools:ignore="DuplicateActivity">-->
        <!--<intent-filter>-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="com.music.base" />-->
        <!--</intent-filter>-->
        <!--</activity>-->


        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--<receiver android:name="cn.jpush.android.service.AlarmReceiver" />-->


        <!--&lt;!&ndash;&lt;!&ndash; User defined. 用户自定义 Receiver 接收被拉起回调&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash; 自定义 Receiver 组件，继承cn.jpush.android.service.WakedResultReceiver类,复写onWake(int wakeType)或 onWake(Context context, int wakeType)方法以监听被拉起 &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<receiver android:name="xx.xx.xx.MyWakedResultReceiver">&ndash;&gt;-->
        <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
        <!--&lt;!&ndash;<action android:name="cn.jpush.android.intent.WakedReceiver" />&ndash;&gt;-->
        <!--&lt;!&ndash;<category android:name="${applicationId}" />&ndash;&gt;-->
        <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--&lt;!&ndash;</receiver>&ndash;&gt;-->

        <!--&lt;!&ndash; 3.5.0新增，用于定时展示功能 &ndash;&gt;-->
        <!--<receiver android:name="cn.jpush.android.service.SchedulerReceiver" android:exported="false"/>-->

        <!--&lt;!&ndash;Required SDK核心功能 since 3.3.0&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="cn.jpush.android.service.JNotifyActivity"-->
        <!--android:exported="true"-->
        <!--android:taskAffinity="jpush.custom"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar">-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.jpush.android.intent.JNotifyActivity" />-->
        <!--<category android:name="com.music.base" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--&lt;!&ndash; Required. For publish channel feature &ndash;&gt;-->
        <!--&lt;!&ndash; JPUSH_CHANNEL 是为了方便开发者统计 APK 分发渠道。&ndash;&gt;-->
        <!--&lt;!&ndash; 例如: &ndash;&gt;-->
        <!--&lt;!&ndash; 发到 Google Play 的 APK 可以设置为 google-play; &ndash;&gt;-->
        <!--&lt;!&ndash; 发到其他市场的 APK 可以设置为 xxx-market。 &ndash;&gt;-->
        <!--<meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>-->
        <!--&lt;!&ndash; Required. AppKey copied from Portal &ndash;&gt;-->
        <!--<meta-data android:name="JPUSH_APPKEY" android:value="bcc489532f82587d61267d6f"/>-->
    </application>

</manifest>